<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConnStr" connectionString="Data Source=DESKTOP\MSSQLSERVER2014;
			 Initial Catalog=BilgiYarismasiOyunu;
			 User ID=******;
			 Password=********" 
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
